[submodule "apps/scoop/current"]
	path = apps/scoop/current
	url = https://github.com/lukesampson/scoop
[submodule "buckets/main"]
	path = buckets/main
	url = https://github.com/ScoopInstaller/Main
[submodule "buckets/extras"]
	path = buckets/extras
	url = https://github.com/lukesampson/scoop-extras
[submodule "buckets/java"]
	path = buckets/java
	url = https://github.com/ScoopInstaller/Java
[submodule "buckets/nonportable"]
	path = buckets/nonportable
	url = https://github.com/TheRandomLabs/scoop-nonportable
[submodule "buckets/jetbrains"]
	path = buckets/jetbrains
	url = https://github.com/Ash258/Scoop-JetBrains
[submodule "buckets/php"]
	path = buckets/php
	url = https://github.com/ScoopInstaller/PHP
[submodule "buckets/versions"]
	path = buckets/versions
	url = https://github.com/ScoopInstaller/Versions
